.u-reset-list {
  list-style: none;
  padding-left: 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.u-container {
  width: min(90%, 26.76rem);
  margin: 0 auto;
}
