.header {
  border-bottom: solid 1px #c6c6c6;
  padding: 1.23rem 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-img {
  width: 127px;
}

.header__avatar {
  width: 34px;
  border-radius: 50%;
}
